<h1>Editing gift guide</h1>

<%= render "form", gift_guide: @gift_guide %>

<br>

<div>
  <%= link_to "Show this gift", @gift_guide %>
  <%= link_to "Back to gift ideas", gift_guides_path, class:'btn' %>
</div>
