<p style="color: green"><%= notice %></p>

<h1>Gift Ideas</h1>

<div class="card" id="gift_guides">
<div class="card-body">
  <% @gift_guides.each do |gift_guide| %>
    <%= render gift_guide %>
  <% end %>
</div>
</div>
<div class="container link">
<%= link_to "Add a gift idea", new_gift_guide_path %>
</div>