<p style="color: green"><%= notice %></p>

<h1>Gift Ideas</h1>

<div class="card" id="gift_guides">
<div class="card-body">
  <% @gift_guides.each do |gift_guide| %>
    <%= render gift_guide %>
    <p>
      <%= link_to "Show this gift guide", gift_guide %>
    </p>
  <% end %>
</div>
</div>
<div class="container link">
<%= link_to "New gift guide", new_gift_guide_path %>
</div>