<p style="color: green"><%= notice %></p>

<h1>Public gifts</h1>

<div id="public_gifts">
  <% @public_gifts.each do |public_gift| %>
    <%= render public_gift %>
    <p>
      <%= link_to "Show this public gift", public_gift %>
    </p>
  <% end %>
</div>

<%= link_to "New public gift", new_public_gift_path %>
