<p><%= notice %></p>

<h1>Giftify Ideas</h1>

<div class="card" id="public_gifts">
<div class="card-body">
  <% @public_gifts.each do |public_gift| %>
    <%= render public_gift %>
  <% end %>
</div>
</div>
<div class="container link">
<%= link_to "Add a gift idea", new_public_gift_path %>
</div>