<h1>Profile</h1>

<p><strong>Hi</strong> <%= @user.name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<!-- Add any additional information you want to display on the user's profile -->

<%= link_to 'Back to Users', users_path, class: 'btn' %>