
<h1 style="font-family:Rubik Mono One; color:#962547; padding-top:1rem">Giftify</h1>
<h2>Keeping your gift ideas safe for you</h2>
<div>
<h3>How it works:</h3>
<p>Public users can access Giftify's gift ideas and add to them anonymously.</p>
<p>Logged in users can create, edit and delete gift ideas that only they can see - or they can contribute to the public gift ideas as well!</p>
<p>We value keeping our personal information personal, which is why our users only need a username and email to sign-up. Our database is safely created on Ruby on Rails.</p>
<p>Giftify will not require any personal information nor send you any emails.</p>
<button style="font-color: #912060">
      <%= link_to "Sign-up", new_user_path, class:'nav-link'%>
</button> 
</div>

