<p style="color: green"><%= notice %></p>

<h1 style ="font-family:Rubik Mono One; color:pink">Albums</h1>

<div id="albums">
  <% @albums.each do |album| %>
  <div class="card" style= "width: 60rem;">
    <%= render album %>
    <p>
      <%= link_to "Show this album", album, class:"btn btn-info" %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New album", new_album_path %>
