<h1>Editing discography</h1>

<%= render "form", discography: @discography %>

<br>

<div>
  <%= link_to "Show this discography", @discography %> |
  <%= link_to "Back to discographies", discographies_path %>
</div>
